form.form(action="#")
  .form__row
    .form__part
      .form__title Связаться со мной
      input.form__input(type=text, name=name, placeholder="Ковальчук Дмитрий")
      div.form__logo
        +icon("user", "form__logo-icon")
    .form__part
      .form__title Введите ваш email
      input.form__input(type=text, name=email, placeholder="loftschool@study.com")
      div.form__logo
        +icon("envelope", "form__logo-icon")
  .form__row
    .form__part.form__part--full
      .form__title Сообщение к письму
      input.form__input(type=text, name=text, placeholder="Требуется ваша помощь в создании сайта.Интересуют сроки и цена вопроса")
      div.form__logo
        +icon("message", "form__logo-icon")
  button.form__send-btn(type="submit") Отправить